html{
	font-size: 10px;
}
/**
 * Style using "em"s
 */
h1{
	background: green;
	color: yellow;
	padding: 10px;
	border: 2px solid black;
}
h2{
	background: yellow;
	color: green;
	padding: 10px;
	border: 2px solid black;
}
article{
	background: purple;
	color: gold;
	padding: 10px;
	border: 2px solid black;
}
p{
	background: blue;
	color: red;
	padding: 10px;
	border: 2px solid black;
}